/* primary Background: #0984e3 */

/* font import from google */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");

/* universal reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
/* universal reset end */

/*** hero area start */
/* background */
.hero {
  background: #0984e3;
  text-align: center;
  padding-bottom: 30px;
}
/* main logo */
.hero img {
  width: 300px;
  margin: 20px;
}
/* main logo end */
/* action bar */
.action_bar {
  overflow: hidden;
  padding-bottom: 10px;
  height: 310px;
  transition: all 0.3s ease-in-out;
}
/* action bar end */
h3 {
  color: 30px;
  color: #fff;
  margin: 20px 0;
  font-weight: 600;
  font-size: 25px;
}
/* the play button */
#play {
  margin-bottom: 20px;
  padding: 25px 120px;
  background: #00b894;
  border: 0;
  border-radius: 3px;
  color: #fff;
  font-size: 40px;
  font-weight: 600;
  cursor: pointer;
}
#play i {
  font-size: 0px;
  transition: all 0.3s ease-in-out;
}
#play:hover i {
  font-size: 40px;
}
/* difficulty btns  */
.difficulty {
  font-size: 20px;
  margin-bottom: 20px;
  color: #fff;
}
.choose_difficulty button {
  margin: 5px;
  padding: 5px 10px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-weight: 600;
  color: #fff;
  border: none;
}
.choose_difficulty button i {
  display: none;
}
.active i {
  display: inline !important;
  color: #006652;
}
/* difficulty buttons hover effect  */
.choose_difficulty button:hover, .active {
  background: rgba(255, 255, 255, 0.6) !important;
  color: #404040 !important;
}
/*** hero area end */
/*** main game section start */
.main_game {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  overflow: hidden;
  height: 400px;
  transition: all 0.3s ease-in-out;
}
/* top container */
.top_container {
  position: relative;
  top: 0;
  left: 0;
  padding-bottom: 20px;
  text-align: center;
}
/* top container end */
/* countdown start */
.countdown_container {
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  font-size: 45px;
  font-weight: 600;
  color: #fff;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}
.countdown_padding {
  padding-top: 60px;
}
.start_countdown {
  font-size: 80px;
}
/* countdown end */
/* the main word  */
#word {
  font-size: 85px;
  color: #404040;
  user-select: none;
  margin: 30px;
}
/* input field */
#inputbar {
  width: 90%;
  padding: 15px 10px;
}
/* input field end */
/* play pause button */
#playPause {
  display: block;
  margin: 20px auto;
  background: #00b894;
  padding: 5px 10px;
  border: 0;
  border-radius: 3px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
#playPause:hover {
  box-shadow: inset 1px 1px 5px rgba(48, 48, 48, 0.5);
}
/* play pause button end */
/* game over text */
#game_over {
  font-size: 40px;
  font-weight: 400;
  color: #ff4949;
  display: none;
}
/* game over end */
/* scoreboard */
.scoreboard {
  width: 100%;
}
.scoreboard div {
  width: 45%;
  font-size: 20px;
}
.time {
  float: left;
}
.score {
  float: right;
}
/* scoreboard end */
/*** main game section end */
/*** game rules */
.game_rules {
  clear: both;
  max-width: 800px;
  margin: 0 auto;
  background: #00b894;
  padding: 20px;
  color: #fff;
  border-radius: 3px;
  font-size: 18px;
  margin-top: 30px;
  text-align: left;
}
.game_rules ul {
  margin-left: 30px;
}
/*** game rules end */
/*** footer */
.footer {
  background: #00b894;
  color: #fff;
  text-align: center;
  padding: 10px;
  font-weight: 600;
}
.footer a {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}
/***footer end */


/* some css that will trigger by javascript */
.force_shrink {
  height: 0 !important;
}
.force_expand {
  height: 400px !important;
}
.slide_left {
  left: -100%;
  width: 50%;
}
.game_over_display {
  display: block !important;
}
/* js trigger css end */

/* responsive stylesheet */
@media only screen and (max-width: 850px) {
  .game_rules {
    margin: 30px 15px;
  }
}
@media only screen and (max-width: 540px) {
  .hero img {
    width: 250px;
  }
  h3 {
    font-size: 20px;
    margin: 10px 0;
  }
  #play {
    padding: 20px 100px;
    font-size: 30px;
  }
  #play:hover i {
    font-size: 30px;
  }
}
@media only screen and (max-width: 540px) {
  #play {
    padding: 14px 80px;
    font-size: 25px;
  }
  #play:hover i {
    font-size: 25px;
  }
  h3 {
    font-size: 20px;
    margin: 15px 0;
  }
  .countdown_container {
  font-size: 35px;
  }
}